<div class="fixed-top">
    <header class="topbar">
        <div class="container">
          <div class="row">
            <!-- social icon-->
            <div class="col-sm-12">
              <ul class="social-network">
                <li><a class="waves-effect waves-dark" href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a class="waves-effect waves-dark" href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a class="waves-effect waves-dark" href="#"><i class="fa fa-linkedin"></i></a></li>
                <li><a class="waves-effect waves-dark" href="#"><i class="fa fa-pinterest"></i></a></li>
                <li><a class="waves-effect waves-dark" href="#"><i class="fa fa-google-plus"></i></a></li>
              </ul>
            </div>
  
          </div>
        </div>
    </header>
    <nav class="navbar navbar-expand-lg navbar-dark mx-background-top-linear">
      <div class="container">
        <a class="navbar-brand" href="index.html" style="text-transform: uppercase;"> FIELD AWARE SCHEDULING</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
  
          <ul class="navbar-nav ml-auto">
  
            <li class="nav-item ">
              <a class="nav-link" href="">Home
                
              </a>
            </li>
  
            <li class="nav-item active">
              <a class="nav-link" href="map">Map
                  <span class="sr-only">(current)</span>
              </a>
            </li>
  
           <li class="nav-item">
              <a class="nav-link" href="#">About</a>
            </li>
  
            <li class="nav-item">
              <a class="nav-link" href="#">Contact Us</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
  <br/>
  <br/>
  <br/>
  <br/>

  <div style="text-align: center">
      <h5>EVENT/USER CREATION</h5>
      <div class="form-group">
         
          <div class="input-group" style="width: 45%">
            <label for="mapdate">Event Date:</label>&nbsp;
            <input id="mapdate" class="form-control" placeholder="yyyy-mm-dd" (change)="filterMap();" name="dp" [(ngModel)]="mapDate" ngbDatepicker #dp="ngbDatepicker">
            <div class="input-group-append">
              <button class="btn btn-outline-secondary calendar" (click)="dp.toggle()" type="button"></button>
              &nbsp;
              <button type="button" style="width: 50%" class="btn btn-outline-dark" (click)="filterMap();">Filter</button>
            </div>
          </div>
          
        </div>  
     </div>

  <agm-map [latitude]='latitude'
[longitude]='longitude'
[zoom]='5'
(mapClick)='addMarker($event.coords.lat, $event.coords.lng)'>
<agm-marker
  *ngFor='let marker of markers'
  [latitude]='marker.lattitude'
  [longitude]='marker.longitude'
  [iconUrl]="marker.icon"
  [markerDraggable]='true'
  (markerClick)='selectMarker($event,content);'
  >
</agm-marker>
</agm-map>



<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Add Event/User</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group">
        <label> Add User/Event</label>
        <div class="input-group">
            <input name="options" class="form-control col-sm-2"  [(ngModel)]="options" type="radio" [value]="true" [checked]="options"/> User
            <input name="options" class="form-control col-sm-2"  [(ngModel)]="options" type="radio" [value]="false" [checked]="!options"/> Event          
        </div>
      </div>
    </form>
    <form id="eventfrm" *ngIf="!options">
    <div class="form-group">
        <label for="jobDate">Event Desc</label>
        <div class="input-group">
          <input id="jobdesc" class="form-control" name="jbdesc" [(ngModel)]="jobdesc" />
        </div>
      </div>
      <div class="form-group">
        <label for="jobDate">Workers Needed</label>
        <div class="input-group">
          <input id="jobdesc" type="number" class="form-control" name="jbdesc" [(ngModel)]="numberOfWorkers" />
        </div>
      </div>
      <div class="form-group">
        <label>PRIORITY</label>
        <div>
          <select [(ngModel)]="priority" name="priority" class="form-control" id="sel1">
              <option value= "CRITICAL">
                  CRITICAL
                </option>
            <option value= "HIGH">
              HIGH
            </option>
            <option value= "LOW">
              LOW
            </option>
          </select>
        </div>
      </div>
      <div class="form-group">
        <label for="jobDate">Event Date</label>
        <div class="input-group">
          <input id="jobDate" class="form-control" placeholder="yyyy-mm-dd" name="dp" [(ngModel)]="jobdate" ngbDatepicker #dp="ngbDatepicker">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary calendar" (click)="dp.toggle()" type="button"></button>
          </div>
        </div>
      </div>
    </form>
    <form id="userfrm" *ngIf="options">
      <div class="form-group">
          <label for="startdate">User Name</label>
          <div class="input-group">
            <input id="username" class="form-control" name="username" [(ngModel)]="username" />
          </div>
        </div>
        <div class="form-group">
          <label for="startdate">Email</label>
          <div class="input-group">
            <input id="email" class="form-control" name="email" [(ngModel)]="email" />
          </div>
        </div>
        <div class="form-group">
          <label for="startdate">Start Date</label>
          <div class="input-group">
            <input id="startdate" class="form-control" placeholder="yyyy-mm-dd" name="startdate" [(ngModel)]="startdate" ngbDatepicker #dp="ngbDatepicker">
            <div class="input-group-append">
              <button class="btn btn-outline-secondary calendar" (click)="dp.toggle()" type="button"></button>
            </div>
          </div>
        </div>
      </form>
  </div>
  <div class="modal-footer" *ngIf="!options">
    <button type="button" class="btn btn-outline-dark" (click)="submitbutton();modal.close('Save click')">Save</button>
  </div>
  <div class="modal-footer" *ngIf="options">
      <button type="button" class="btn btn-outline-dark" (click)="submituser();modal.close('Save click')">Save</button>
    </div>
</ng-template>

