<div class="fixed-top">
    <header class="topbar">
        <div class="container">
          <div class="row">
            <!-- social icon-->
            <div class="col-sm-12">
              <ul class="social-network">
                <li><a class="waves-effect waves-dark" href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a class="waves-effect waves-dark" href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a class="waves-effect waves-dark" href="#"><i class="fa fa-linkedin"></i></a></li>
                <li><a class="waves-effect waves-dark" href="#"><i class="fa fa-pinterest"></i></a></li>
                <li><a class="waves-effect waves-dark" href="#"><i class="fa fa-google-plus"></i></a></li>
              </ul>
            </div>
  
          </div>
        </div>
    </header>
    <nav class="navbar navbar-expand-lg navbar-dark mx-background-top-linear">
      <div class="container">
        <a class="navbar-brand" href="index.html" style="text-transform: uppercase;"> FIELD AWARE SCHEDULING</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
  
          <ul class="navbar-nav ml-auto">
  
            <li class="nav-item active">
              <a class="nav-link" href="">Home
                  <span class="sr-only">(current)</span>
              </a>
              
            </li>
  
            <li class="nav-item ">
              <a class="nav-link" href="map">Map</a>
            </li>
  
           <li class="nav-item">
              <a class="nav-link" href="#">About</a>
            </li>
  
            <li class="nav-item">
              <a class="nav-link" href="#">Contact Us</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
<br/>
<br/>
<br/>
<br/>
<div class="container" style="text-align: center">
    <h5>EVENTS</h5>
  </div>

  <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->
  
    <!-- Position Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> No. </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>
  
    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>
  
    <!-- Weight Column -->
    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
      <td mat-cell *matCellDef="let element"> {{element.status}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Start Date </th>
      <td mat-cell *matCellDef="let element"> {{element.startDate}} </td>
    </ng-container>
  
    <ng-container matColumnDef="users">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Users </th>
      <td mat-cell *matCellDef="let element"> {{element.userName}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="role">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Actions </th>
      <td mat-cell *matCellDef="let element"> 
        <i class="fa fa-check blue" (click)="complete(element.id)"></i>
        <i class="fa fa-users" (click)="reassign('name')" aria-hidden="true"></i>
      </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
  <br/>
  <div id="chartContainer" style="width: 100%; height: 400px;"></div>


